<div class="container-fluid p-0" {{did-insert this.setupCarousel}}>
  <div class="owl-carousel header-carousel position-relative">
    <div class="owl-carousel-item position-relative">
      <img class="img-fluid" src="img/carousel-1.jpg" alt="">
      <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(43, 57, 64, .5);">
        <div class="container">
          <div class="row justify-content-start">
            <div class="col-10 col-lg-8">
              <h1 class="display-3 text-white animated slideInDown mb-4">Find The Perfect Job That You Deserved</h1>
              <p class="fs-5 fw-medium text-white mb-4 pb-2"> Truly, the right opportunity awaits. Every effort and every moment you've invested brings you closer. With determination and focus, you will find the career that aligns with your passion.</p>
              <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft" {{on "click" (fn this.handleClick "login")}}>Search A Job</a>
              <a href="" {{on "click" (fn this.handleClick "company-login")}} class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Find A Talent</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="owl-carousel-item position-relative">
      <img class="img-fluid" src="img/carousel-2.jpg" alt="">
      <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(43, 57, 64, .5);">
        <div class="container">
          <div class="row justify-content-start">
            <div class="col-10 col-lg-8">
              <h1 class="display-3 text-white animated slideInDown mb-4">Find The Best Startup Job That Fit You</h1>
              <p class="fs-5 fw-medium text-white mb-4 pb-2"> Discover the startup role where your talents shine. Your journey, dedication, and passion will lead you to the perfect fit, where innovation meets opportunity.</p>
              <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft" {{on "click" (fn this.handleClick "login")}}>Search A Job</a>
              <a href="" {{on "click" (fn this.handleClick "company-login")}} class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Find A Talent</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{yield}}